@page
@model GuvenlikKontrolWeb.Pages.IndexModel

<h2>Nokta Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nokta Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NoktaListesi)
        {
            <tr>
                <td>@item.NoktaID</td>
                <td>@item.NoktaAdi</td>
            </tr>
        }
    </tbody>
</table>
